In [11]:
import duckdb
import pandas as pd

##TODO: Falta bajar el dataset directamente de Kaggle
# import kagglehub
# from kagglehub import KaggleDatasetAdapter

# # Load the dataset from KaggleHub
# df = kagglehub.load_dataset(
#     KaggleDatasetAdapter.PANDAS,
#     "alejandroczernikier/properati-argentina-dataset",
#     file_path="/data/raw"
# )




con = duckdb.connect("data/DB/entrenamiento.duckdb")

# Usamos un SELECT sobre read_csv_auto()
con.execute("""
COPY (
    SELECT * FROM read_csv_auto('data/RAW/entrenamiento.csv')
) TO 'data/parquet/entrenamiento.parquet' (FORMAT PARQUET)
""")


# Crear tabla desde el archivo Parquet
# con.execute("""
#     CREATE TABLE entrenamiento AS
#     SELECT * FROM 'data/parquet/entrenamiento.parquet'
# """)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [12]:
#print(con.execute("PRAGMA table_info(entrenamiento)").fetchdf())
preview_df = con.execute("SELECT * FROM 'data/parquet/entrenamiento.parquet' LIMIT 10").fetchdf()
print(preview_df)

       id    ad_type start_date   end_date created_on        lat        lon  \
0  556713  Propiedad 2019-11-29 9999-12-31 2019-11-29 -58.442399 -34.573623
1  192912  Propiedad 2020-06-05 2020-06-08 2020-06-05 -58.430493 -34.606620
2  238224  Propiedad 2020-07-01 9999-12-31 2020-07-01 -58.491760 -34.574123
3  257134  Propiedad 2019-08-17 9999-12-31 2019-08-17 -58.420737 -34.631770
4  521738  Propiedad 2019-08-05 2019-08-31 2019-08-05 -58.429983 -34.607225
5  383947  Propiedad 2019-10-23 2019-11-08 2019-10-23 -58.420780 -34.608640
6  986212  Propiedad 2019-08-01 2019-08-14 2019-08-01 -58.371394 -34.621835
7  499733  Propiedad 2019-07-24 9999-12-31 2019-07-24 -58.404054 -34.599623
8   76927  Propiedad 2020-06-17 9999-12-31 2020-06-17 -58.507339 -34.590882
9  473866  Propiedad 2019-07-06 2019-07-09 2019-07-06 -58.421650 -34.588602

          l1               l2             l3  ... bathrooms surface_total  \
0  Argentina  Capital Federal     Colegiales  ...       2.0           NaN
1  Argentina  Capital Federal        Almagro  ...       2.0          77.0
2  Argentina  Capital Federal  Villa Urquiza  ...       1.0          60.0
3  Argentina  Capital Federal          Boedo  ...       1.0          74.0
4  Argentina  Capital Federal        Almagro  ...       1.0          66.0
5  Argentina  Capital Federal        Almagro  ...       1.0          55.0
6  Argentina  Capital Federal      San Telmo  ...       1.0          42.0
7  Argentina  Capital Federal   Barrio Norte  ...       2.0          91.0
8  Argentina  Capital Federal   Villa Devoto  ...       2.0           NaN
9  Argentina  Capital Federal        Palermo  ...       2.0          80.0

  surface_covered  currency  price_period  \
0             NaN       USD          None
1            67.0       USD          None
2            55.0       USD          None
3            47.0       USD          None
4            64.0       USD          None
5            55.0       USD          None
6            42.0       USD          None
7            86.0       USD       Mensual
8             NaN       USD          None
9            80.0       USD          None

                                               title  \
0  Departamento en Venta en Belgrano, Capital fed...
1    Departamento de 3 ambientes en Venta en Almagro
2   Andonaegui   2600 4째  -  - Departamento en Venta
3                         PH Venta Boedo 2 amb Patio
4  Venta 3 Ambientes - Almagro - Balc처n - Ameniti...
5  Depto.tipo casa de 3 ambientes en Venta en Alm...
6  Ph en edificio de estilo Frances . 2 dormitori...
7        Tres ambientes de categoria en Barrio Norte
8  Departamento  en Venta ubicado en Villa Devoto...
9        DEPARTAMENTO 3 AMBIENTES EN VENTA , PALERMO

                                         description  property_type  \
0  Sup total por escritura: 96,47 m2 (cubiertos: ...   Departamento
1  Excelente departamento de tres ambientes ampli...   Departamento
2  Excelente 3 ambientes al frente con balc처n. Vi...   Departamento
3  Corredor Responsable: MARCELO TRUJILLO -  CPI ...             PH
4  Corredor Responsable: Marcelo Trujillo - CUCIC...   Departamento
5  Muy Lindo ph al contrafrente con 2 patios!, 80...             PH
6  PH en Edificio Frances en Estado original!!!al...             PH
7  Excelente y amplio departamento de tres ambien...   Departamento
8  Forma de pago: 35% de anticipo, saldo en cuota...   Departamento
9  Excelente ubicaci처n!Scalabrini Ortiz entre Par...   Departamento

  operation_type     price
0          Venta  259000.0
1          Venta  235500.0
2          Venta  175000.0
3          Venta  140000.0
4          Venta  173000.0
5          Venta  155000.0
6          Venta   74000.0
7          Venta  190000.0
8          Venta  159900.0
9          Venta  240000.0

[10 rows x 25 columns]

In [13]:
con.execute("DESCRIBE SELECT * FROM 'data/parquet/entrenamiento.parquet'").fetchdf()

        column_name column_type null   key default extra
0                id      BIGINT  YES  None    None  None
1           ad_type     VARCHAR  YES  None    None  None
2        start_date        DATE  YES  None    None  None
3          end_date        DATE  YES  None    None  None
4        created_on        DATE  YES  None    None  None
5               lat      DOUBLE  YES  None    None  None
6               lon      DOUBLE  YES  None    None  None
7                l1     VARCHAR  YES  None    None  None
8                l2     VARCHAR  YES  None    None  None
9                l3     VARCHAR  YES  None    None  None
10               l4     VARCHAR  YES  None    None  None
11               l5     VARCHAR  YES  None    None  None
12               l6     VARCHAR  YES  None    None  None
13            rooms      DOUBLE  YES  None    None  None
14         bedrooms      DOUBLE  YES  None    None  None
15        bathrooms      DOUBLE  YES  None    None  None
16    surface_total      DOUBLE  YES  None    None  None
17  surface_covered      DOUBLE  YES  None    None  None
18         currency     VARCHAR  YES  None    None  None
19     price_period     VARCHAR  YES  None    None  None
20            title     VARCHAR  YES  None    None  None
21      description     VARCHAR  YES  None    None  None
22    property_type     VARCHAR  YES  None    None  None
23   operation_type     VARCHAR  YES  None    None  None
24            price      DOUBLE  YES  None    None  None